.content-img-bg {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  color: #fff;
  background: #508F66;
  background: -moz-linear-gradient(-45deg, #165ad9 0%, #84be00 100%);
  background: -webkit-linear-gradient(-45deg, #165ad9 0%,#84be00 100%)
  background: linear-gradient(135deg, #165ad9 0%,#84be00 100%);
}

.content-img-bg a {
  color: #fff;
  opacity: 0.8;
}

#invertir {
  background-image: url("../img/comofunciona_bg1.jpg");
  background-position: center bottom;
}

#levantar-fondos {
  background-image: url("../img/comofunciona_bg2.jpg");
  background-position: center bottom;
}

#nosotros {
  background-image: url("../img/nosotros_bg1.jpg");
  background-position: center center;
}

#agroindustria {
  background-image: url("../img/nosotros_bg2.jpg");
  background-position: center center;
}
