html {
  font-size: 18px;
}

body {
  color: #4C4E52;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #84BE00;
}

a:hover {
  color:#74A503;
}

/* Links color blanco */
.text-white a {
  color: #fff;
}

/* Navigation */

@media (max-width: 768px) {
  #logo {
    max-height: 50px;
  }
}

.nav-link{
  text-align: center;
}

.icon {
  margin: 1rem;
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }
}

.navbar-dark .navbar-brand {
    color: #fff;
  }

.navbar-dark .navbar-nav .nav-link {
      color: #fff;
    }

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
      color: #fff;
    }

/* Content padding */

.content {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.content p {
  padding-top: 0.5rem;
}


/*Project image*/

.project-img {
  width: 100%;
  height: 300px;
  background-image: url("../img/placeholderproyecto.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Custom form */

/* File upload button */
/* Para ocultar el campo por default para subir archivos */
.file-upload .file-trigger {
  opacity: 0;
  height: 1px;
  width: 1px;
}

/* Field remove button */
.new-field .close {
  padding-top: 0.35rem;
}


/* Col */
/* Todo se sustituye con $grid-gutter-width: 80px; */

@media (min-width: 768px) {

  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 40px;
    padding-left: 40px;
  }

  .row {
      margin-right: -40px;
      margin-left: -40px;
  }

  .container, .container-fluid {
    padding-right: 40px;
    padding-left: 40px;
  }

}

/*Display*/

.display-1, .display-2, .display-3, .h1, .h2, .h3, .h4, .h5 {
  font-family: 'Lato', sans-serif;
}

.display-3 {
  font-size: 2.6rem;
}

.h2 {
  font-size: 1.6rem;
}

.h3 {
  font-size: 1rem;
  font-weight: 700;
}

@media (min-width: 992px) {
  .display-3 {
    font-size: 4.6rem;
  }
  .h2 {
    font-size: 2.6rem;
  }
  .h3 {
    font-size: 1.6rem;
  }
}

/* Buttons */

.btn {
    padding: .75rem .75rem;
    border-radius: 1.5rem;
    width: 200px;
  }

/* Pagination */

.page-link {
  padding: 0.75rem 1rem;
  color: #84BE00;
  background-color: #fff;
  border: 1px solid #CDCDCD;
}

.page-link:focus, .page-link:hover {
  color: #74A503;
}

.page-item.active .page-link {
  z-index: 2;
  color: #fff;
  background-color: #84BE00;
  border-color: #84BE00;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.page-item:last-child .page-link {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

/* Colors */

/* Secondary #165AD9 */

.text-secondary {
  color: #165AD9 !important;
}

.btn-secondary {
    background-color: #165AD9;
    border-color: #165AD9;
}
.btn-secondary:hover {
  background-color: #144EBA;
  border-color: #144EBA;
}

/* Primary #84BE00 */

.text-primary {
  color: #84BE00 !important;
}

.btn-primary {
    background-color: #84BE00;
    border-color: #84BE00;
}
.btn-primary:hover {
    background-color: #74A503;
    border-color: #74A503;
}

/* Bg-dark */
.bg-dark {
    background-color: #4A4A4A !important;
  }
