    // Fonts
// @import url("https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

@import "resources/assets/lib/icomoon_site/style";
// @import "~sweetalert2/src/sweetalert2.scss";
//@import "~vue-wysiwyg/dist/vueWysiwyg.css";
@import "../globals";

// Bootstrap
@import "bootstrap";
@import "spinner";
@import "layout";
@import "type";
@import "header";
@import "project";
@import "project-card";
@import "project-preview";
@import "alerts";
@import "buttons";
@import "forms";

.asi-funciona-rows {
  // flex-wrap: wrap;
}
.asi-funciona {
  display: flex;
  flex:1 1 0%;
  flex-direction: column;
}

.asi-funciona-texto {
  display: block;
  flex: 1 0 auto;
}

[v-cloak] {
    display: none !important;
}

