
/* Links color blanco */
.text-white a {
  color: #fff;
}

#app {
  padding-top: 60px;
  &.home {
    padding-top: 0;
  }
}

.bg-blue {
  background-color: #496da8 !important;
}

.bg-green {
  background-color: #93a85b !important;
}

.sticky-top {
  width: 100%;
  position: fixed;
}

/* Navigation */

@media (max-width: 768px) {
  #logo {
    max-height: 50px;
  }
}

.nav-link{
  text-align: center;
}

.icon {
  margin: 1rem;
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }
}

.navbar-dark .navbar-brand {
    color: #fff;
  }

.navbar-dark .navbar-nav .nav-link {
      color: #fff;
    }

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
      color: #fff;
    }

/* Content padding */

.content {
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}

.content p, .footer p {
  padding-top: 0.5rem;
}

#footer{
    background: #FFF url('../img/bg-footer.png') no-repeat center center;
    background-size: cover;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #7F7F7F;
    font-family: Roboto, sans-serif;
    h4 {
      font-size: 18px;
      font-weight: 700;
      color: #95C11F;
    }
}

.menu-footer {
  line-height: 19px;
  text-align: center;
  li {
    padding: 15px 0 10px;
  }
  a {
    font-weight: 500;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    color: #7F7F7F;
  }
  text-transform: uppercase;
}

.menu-footer-crowfunding {
  a {
    color: #95C11F !important;
  }
  border-bottom: 1px solid #7F7F7F;
}
.footer-legals{
  clear: both;
  display: block;
  background: #575757;
  font-weight: 300;
  font-size: 15px;
  color: #FFF;
  a {
    font-weight: 300;
  font-size: 15px;
  color: #FFF;
  &:hover {
    font-weight: bold;
    text-decoration: none;
  }
  }
}
.footer-social {
  background: #FFF;
  padding: 10px 0;
}
.footer-menu {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-icon {
  display: block;
  overflow: hidden;
  width: 55px;
  height: 0;
  padding-top: 55px;
  background-position: center center;
  background-repeat: no-repeat;
}
.footer-icon-fb {
  background-image: url('../img/fb_bn.png');
  &:hover {
    background-image: url('../img/fb_color.png');
  }
}
.footer-icon-tw {
  background-image: url('../img/tw_bn.png');
  &:hover {
    background-image: url('../img/tw_color.png');
  }
}
.footer-icon-in {
  background-image: url('../img/in_bn.png');
  &:hover {
    background-image: url('../img/in_color.png');
  }
}
.footer-icon-li {
  background-image: url('../img/lk_bn.png');
  &:hover {
    background-image: url('../img/ln_color.png');
  }
}
.footer-icon-yt {
  background-image: url('../img/yt_bn.png');
  &:hover {
    background-image: url('../img/yt_color.png');
  }
}

/*Project image*/

.project-img {
  width: 100%;
  display: block;
  > img {
    width: 100%;
    height: auto;
  }
}

/* Custom form */

/* File upload button */
/* Para ocultar el campo por default para subir archivos */
.file-upload .file-trigger {
  opacity: 0;
  height: 1px;
  width: 1px;
}

/* Field remove button */
.new-field .close {
  padding-top: 0.35rem;
}

/* Rating by numbers */

.form-rating {
  display: flex;
  flex-wrap: nowrap;
  width:100%;
}

.rating-option{
  width:100%;
  margin-left: -1px;
}

.rating-option input[type="radio"] {
    opacity: 0;
    width: 0;
  height: 0;
  display: block;
}

.rating-option input[type="radio"] ~ label {
  opacity: 1;
  text-align: center;
  padding: 0.6rem 0rem;
  color: #84BE00;
  background-color: #fff;
  border: 1px solid #CDCDCD;
  width: 100%;
}

.rating-option input[type="radio"]:checked ~ label, .form-rating input[type="radio"]:active ~ label  {
  color: #74A503;
  background-color: #e9ecef;
}

.rating-option:first-child input[type="radio"] ~ label {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.rating-option:last-child input[type="radio"] ~ label {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

/* Bullets */

.bullet {
border-radius: 50%;
width: 21px;
height: 21px;
background-color: #144EBA;
padding-top: 2px;
}


/* Col */
/* Todo se sustituye con $grid-gutter-width: 80px; */

/* Pagination */

.page-link {
  padding: 0.75rem 1rem;
  color: #84BE00;
  background-color: #fff;
  border: 1px solid #CDCDCD;
}

.page-link:focus, .page-link:hover {
  color: #74A503;
}

.page-item.active .page-link {
  z-index: 2;
  color: #fff;
  background-color: #84BE00;
  border-color: #84BE00;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.page-item:last-child .page-link {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

/* Colors */

/* Secondary #165AD9 */

.text-secondary {
  color: #165AD9 !important;
}

.btn-secondary {
    background-color: #165AD9;
    border-color: #165AD9;
}
.btn-secondary:hover {
  background-color: #144EBA;
  border-color: #144EBA;
}



/* Bg-dark */
.bg-dark {
    background-color: #4A4A4A !important;
  }



  .content-img-bg {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  color: #fff;
  background: #508F66;
  background: linear-gradient(135deg, #165ad9 0%,#84be00 100%);
}

.content-img-bg a {
  color: #fff;
  opacity: 0.8;
}

#invertir {
  background-image: url("../img/comofunciona_bg1.jpg");
  background-position: center bottom;
}

#levantar-fondos {
  background-image: url("../img/comofunciona_bg2.jpg");
  background-position: center bottom;
}

#nosotros {
  background-image: url("../img/nosotros_bg1.jpg");
  background-position: center center;
}

#agroindustria {
  background-image: url("../img/nosotros_bg2.jpg");
  background-position: center center;
}

