
/* Links color blanco */
.text-white a {
  color: #fff;
}

/* Navigation */

@media (max-width: 768px) {
  #logo {
    max-height: 50px;
  }
}

.nav-link{
  text-align: center;
}

.icon {
  margin: 1rem;
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }
}

.navbar-dark .navbar-brand {
    color: #fff;
  }

.navbar-dark .navbar-nav .nav-link {
      color: #fff;
    }

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
      color: #fff;
    }

/* Content padding */

.content {
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}

.content p, .footer p {
  padding-top: 0.5rem;
}

/* Footer */
.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}


/*Project image*/

.project-img {
  width: 100%;
  display: block;
  > img {
    width: 100%;
    height: auto;
  }
}

/* Custom form */

/* File upload button */
/* Para ocultar el campo por default para subir archivos */
.file-upload .file-trigger {
  opacity: 0;
  height: 1px;
  width: 1px;
}

/* Field remove button */
.new-field .close {
  padding-top: 0.35rem;
}

/* Rating by numbers */

.form-rating {
  display: flex;
  flex-wrap: nowrap;
  width:100%;
}

.rating-option{
  width:100%;
  margin-left: -1px;
}

.rating-option input[type="radio"] {
    opacity: 0;
    width: 0;
  height: 0;
  display: block;
}

.rating-option input[type="radio"] ~ label {
  opacity: 1;
  text-align: center;
  padding: 0.6rem 0rem;
  color: #84BE00;
  background-color: #fff;
  border: 1px solid #CDCDCD;
  width: 100%;
}

.rating-option input[type="radio"]:checked ~ label, .form-rating input[type="radio"]:active ~ label  {
  color: #74A503;
  background-color: #e9ecef;
}

.rating-option:first-child input[type="radio"] ~ label {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.rating-option:last-child input[type="radio"] ~ label {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

/* Bullets */

.bullet {
border-radius: 50%;
width: 21px;
height: 21px;
background-color: #144EBA;
padding-top: 2px;
}


/* Col */
/* Todo se sustituye con $grid-gutter-width: 80px; */

/* Pagination */

.page-link {
  padding: 0.75rem 1rem;
  color: #84BE00;
  background-color: #fff;
  border: 1px solid #CDCDCD;
}

.page-link:focus, .page-link:hover {
  color: #74A503;
}

.page-item.active .page-link {
  z-index: 2;
  color: #fff;
  background-color: #84BE00;
  border-color: #84BE00;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.page-item:last-child .page-link {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

/* Colors */

/* Secondary #165AD9 */

.text-secondary {
  color: #165AD9 !important;
}

.btn-secondary {
    background-color: #165AD9;
    border-color: #165AD9;
}
.btn-secondary:hover {
  background-color: #144EBA;
  border-color: #144EBA;
}



/* Bg-dark */
.bg-dark {
    background-color: #4A4A4A !important;
  }



  .content-img-bg {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  color: #fff;
  background: #508F66;
  background: linear-gradient(135deg, #165ad9 0%,#84be00 100%);
}

.content-img-bg a {
  color: #fff;
  opacity: 0.8;
}

#invertir {
  background-image: url("../img/comofunciona_bg1.jpg");
  background-position: center bottom;
}

#levantar-fondos {
  background-image: url("../img/comofunciona_bg2.jpg");
  background-position: center bottom;
}

#nosotros {
  background-image: url("../img/nosotros_bg1.jpg");
  background-position: center center;
}

#agroindustria {
  background-image: url("../img/nosotros_bg2.jpg");
  background-position: center center;
}

