.version.fondos_de_inversi_n /* version checker */
{
	color: #00001C;
	background-color: #7D7D15;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 2525px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1px;
	padding-top: 2px;
	width: 0.01px;/* should not cover content below */
}

#u8175
{
	z-index: 147;
	height: 62px;
	background-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u8175-bw
{
	z-index: 147;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#que-es
{
	left: -45px;
	position: relative;
}

#u8212
{
	z-index: 173;
	width: 103px;
	background-color: transparent;
	position: fixed;
	top: 16px;
	left: 22px;
}

#menuu8176
{
	z-index: 148;
	width: 479px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 18px;
	left: 655px;
}

#u8184
{
	width: 54px;
	min-height: 44px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8187
{
	width: 54px;
	background-color: transparent;
	padding-bottom: 27px;
	position: relative;
}

#u8187.MuseMenuActive
{
	width: 54px;
	min-height: 0px;
	margin: 0px;
}

#u8190
{
	height: 17px;
	width: 43px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 13px;
	left: 5px;
	background: transparent url("../images/u8190.png?crc=498828489") no-repeat 0px 0px;
}

#u8187:hover #u8190
{
	background: transparent url("../images/u8190-r.png?crc=3770187442") no-repeat 0px 0px;
}

#u8187.MuseMenuActive #u8190
{
	background: transparent url("../images/u8190-a.png?crc=4100500408") no-repeat 0px 0px;
}

#u8198
{
	width: 123px;
	min-height: 44px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 56px;
}

#u8199
{
	width: 123px;
	background-color: transparent;
	padding-bottom: 27px;
	position: relative;
}

#u8199.MuseMenuActive
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u8202
{
	height: 17px;
	width: 112px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 13px;
	left: 5px;
	background: transparent url("../images/u8202.png?crc=192722222") no-repeat 0px 0px;
}

#u8199:hover #u8202
{
	background: transparent url("../images/u8202-r.png?crc=4213329668") no-repeat 0px 0px;
}

#u8199.MuseMenuActive #u8202
{
	background: transparent url("../images/u8202-a.png?crc=4213329668") no-repeat 0px 0px;
}

#u8205
{
	width: 142px;
	min-height: 44px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 181px;
}

#u8206
{
	width: 142px;
	background-color: transparent;
	padding-bottom: 27px;
	position: relative;
}

#u8206:hover
{
	width: 142px;
	min-height: 0px;
	margin: 0px;
}

#u8206.MuseMenuActive
{
	width: 142px;
	min-height: 0px;
	margin: 0px;
}

#u8209
{
	height: 17px;
	width: 131px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 13px;
	left: 5px;
	background: transparent url("../images/u8209.png?crc=4096318142") no-repeat 0px 0px;
}

#u8206:hover #u8209
{
	background: transparent url("../images/u8209-r.png?crc=341948658") no-repeat 0px 0px;
}

#u8206.MuseMenuActive #u8209
{
	background: transparent url("../images/u8209-a.png?crc=341948658") no-repeat 0px 0px;
}

#u8191
{
	width: 154px;
	min-height: 44px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 325px;
}

#u8192
{
	width: 154px;
	background-color: transparent;
	padding-bottom: 27px;
	position: relative;
}

#u8192:hover
{
	width: 154px;
	min-height: 0px;
	margin: 0px;
}

#u8192.MuseMenuActive
{
	width: 154px;
	min-height: 0px;
	margin: 0px;
}

#u8194
{
	height: 17px;
	width: 144px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 13px;
	left: 5px;
	background: transparent url("../images/u8194.png?crc=3780274426") no-repeat 0px 0px;
}

#u8192:hover #u8194
{
	background: transparent url("../images/u8194-r.png?crc=4172705128") no-repeat 0px 0px;
}

#u8192.MuseMenuActive #u8194
{
	background: transparent url("../images/u8194-a.png?crc=4172705128") no-repeat 0px 0px;
}

#u8345
{
	z-index: 3;
	height: 746px;
	background-color: #2E3E91;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
}

#u8345-bw
{
	z-index: 3;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 62px;
}

#u8344
{
	z-index: 2;
	height: 746px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	background: transparent url("../images/agriculture-71592_1280.jpg?crc=3763612702") no-repeat center center;
	background-size: cover;
}

#u8344-bw
{
	z-index: 2;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 62px;
}

#u8353-4
{
	z-index: 4;
	display: block;
	vertical-align: top;
	margin-left: 10px;
	margin-top: 79px;
	position: relative;
}

#u8378
{
	z-index: 8;
	width: 727px;
	background-color: transparent;
	margin-left: 237px;
	margin-top: 33px;
	position: relative;
}

#como
{
	left: -67px;
	margin-top: 8px;
	position: relative;
}

#pu8388
{
	z-index: 10;
	width: 0.01px;
	margin-left: -100px;
	margin-top: 39px;
}

#u8388
{
	z-index: 10;
	height: 795px;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	background: #BD1622 url("../images/748.jpg?crc=3780602909") no-repeat left top;
	background-size: cover;
}

#u8388-bw
{
	z-index: 10;
	margin-top: 1px;
	height: 795px;
}

#u8389
{
	z-index: 11;
	height: 795px;
	background-color: #95C11F;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
}

#u8389-bw
{
	z-index: 11;
	height: 795px;
}

#u8407-4
{
	z-index: 12;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 228px;
}

#pamphletu8816
{
	z-index: 16;
	width: 0.01px;
	height: 598px;
	padding-bottom: 49px;
	position: relative;
	margin-right: -10000px;
	margin-top: 128px;
	left: 168px;
}

#u8819
{
	position: absolute;
	width: 1022px;
}

#u8819popup
{
	z-index: 17;
}

#u8830
{
	z-index: 18;
	width: 870px;
	height: 481px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 15px 15px 0px 15px ;
	padding-left: 37px;
	padding-right: 36px;
	padding-bottom: 159px;
	margin-bottom: -15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 61px;
}

#u9228-4
{
	z-index: 53;
	display: block;
	vertical-align: top;
	margin-left: 36px;
	position: relative;
}

#u8909
{
	z-index: 19;
	width: 870px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 72px;
	position: relative;
}

#pu8916
{
	z-index: 47;
	width: 0.01px;
	margin-right: -10000px;
}

#u8916
{
	z-index: 47;
	width: 171px;
	background-color: transparent;
	margin-left: 34px;
	position: relative;
}

#u8910-5
{
	z-index: 20;
	display: block;
	vertical-align: top;
	margin-top: 16px;
	position: relative;
}

#u8912-4
{
	z-index: 25;
	display: block;
	vertical-align: top;
	margin-top: 16px;
	position: relative;
}

#pu8918
{
	z-index: 51;
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-left: 316px;
}

#u8918
{
	z-index: 51;
	width: 171px;
	background-color: transparent;
	margin-left: 34px;
	position: relative;
}

#u8911-5
{
	z-index: 37;
	display: block;
	vertical-align: top;
	margin-top: 16px;
	position: relative;
}

#u8921-4
{
	z-index: 29;
	display: block;
	vertical-align: top;
	margin-top: 16px;
	position: relative;
}

#pu8913
{
	z-index: 49;
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 631px;
}

#u8913
{
	z-index: 49;
	width: 171px;
	background-color: transparent;
	margin-left: 34px;
	position: relative;
}

#u8920-5
{
	z-index: 42;
	display: block;
	vertical-align: top;
	margin-top: 16px;
	position: relative;
}

#u8915-4
{
	z-index: 33;
	display: block;
	vertical-align: top;
	margin-top: 16px;
	position: relative;
}

#u8825
{
	z-index: 57;
	width: 882px;
	height: 553px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 15px 15px 15px ;
	position: relative;
	margin-right: -10000px;
	padding: 7px 48px 73px 92px;
}

#u9595-4
{
	z-index: 114;
	display: block;
	vertical-align: top;
	margin-left: 20px;
	position: relative;
}

#pu9582
{
	z-index: 58;
	width: 0.01px;
	margin-left: -1px;
	margin-top: 9px;
}

#u9582
{
	z-index: 58;
	width: 171px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 39px;
}

#u9584
{
	z-index: 60;
	width: 171px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 671px;
}

#u9586
{
	z-index: 62;
	width: 174px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 354px;
}

#u9591-5
{
	z-index: 78;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#pu9588-6
{
	z-index: 64;
	width: 0.01px;
	margin-left: 5px;
	margin-top: 18px;
}

#u9588-6
{
	z-index: 64;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u9593-7
{
	z-index: 101;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 316px;
}

#u9594-6
{
	z-index: 108;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 638px;
}

#pu9589-4
{
	z-index: 70;
	width: 0.01px;
	margin-left: 5px;
	margin-top: 16px;
}

#u9589-4
{
	z-index: 70;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u9590-4
{
	z-index: 74;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 316px;
}

#u9592-18
{
	z-index: 83;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 638px;
}

#u8839
{
	z-index: 118;
	width: 64px;
	position: relative;
	margin-right: -10000px;
	margin-top: 577px;
	left: 475px;
}

#u8841
{
	position: absolute;
	width: 24px;
	height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: #C4C4C4;
	border-radius: 10px;
}

#u8841:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #999999;
	width: 24px;
	height: 22px;
	min-height: 0px;
	margin: 0px;
}

#u8841.PamphletThumbSelected
{
	background-color: #6B6B6B;
	border-radius: 10px;
	width: 24px;
	height: 22px;
	min-height: 0px;
	margin: 0px;
}

#u8842
{
	position: absolute;
	width: 24px;
	height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: #C4C4C4;
	border-radius: 10px;
	left: 41px;
}

#u8842:hover
{
	background-color: #999999;
	width: 24px;
	height: 22px;
	min-height: 0px;
	margin: 0px;
}

#u8842.PamphletThumbSelected
{
	border-width: 0px;
	border-color: transparent;
	background-color: #6B6B6B;
	border-radius: 10px;
	width: 24px;
	height: 22px;
	min-height: 0px;
	margin: 0px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#contacto
{
	position: relative;
	margin-right: -10000px;
	width: 22px;
	margin-top: 739px;
	left: 100px;
}

#u9444
{
	z-index: 121;
	height: 565px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	background: transparent url("../images/748.jpg?crc=3780602909") no-repeat center center;
	background-size: cover;
}

#u9444-bw
{
	z-index: 121;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 1603px;
}

#u9445
{
	z-index: 122;
	height: 565px;
	background-color: #BD1622;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

#u9445-bw
{
	z-index: 122;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 1603px;
}

#u9446-4
{
	z-index: 123;
	display: block;
	vertical-align: top;
	margin-top: 55px;
	position: relative;
}

#u9449-6
{
	z-index: 139;
	display: block;
	vertical-align: top;
	margin-left: 5px;
	position: relative;
}

#pu9450
{
	z-index: 145;
	width: 0.01px;
	margin-left: 393px;
	margin-top: 26px;
}

#u9450
{
	z-index: 145;
	width: 168px;
	height: 168px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/empresa.png?crc=3984563599") no-repeat center center;
	background-size: contain;
}

#u9450:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 168px;
	height: 168px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/empresa_2.png?crc=504868882") no-repeat center center;
	background-size: contain;
}

#u9451
{
	z-index: 146;
	width: 168px;
	height: 168px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: relative;
	margin-right: -10000px;
	left: 277px;
	background: transparent url("../images/inversionista.png?crc=526914452") no-repeat center center;
	background-size: contain;
}

#u9451:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 168px;
	height: 168px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/inversionista_2.png?crc=259481957") no-repeat center center;
	background-size: contain;
}

#pu9447-6
{
	z-index: 127;
	width: 0.01px;
	margin-left: 357px;
	margin-top: 14px;
}

#u9447-6
{
	z-index: 127;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u9448-6
{
	z-index: 133;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 277px;
}

#pu8479
{
	z-index: 175;
	width: 0.01px;
	margin-left: -100px;
	margin-top: 61px;
}

#u8479
{
	z-index: 175;
	height: 318px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	background: transparent url("../images/agriculture-71592_1280.jpg?crc=3763612702") no-repeat center center;
	background-size: cover;
}

#u8479-bw
{
	z-index: 175;
	height: 318px;
}

#u8480
{
	z-index: 176;
	height: 318px;
	background-color: #FFFFFF;
	opacity: 0.84;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=84)";
	filter: alpha(opacity=84);
}

#u8480-bw
{
	z-index: 176;
	height: 318px;
}

#u8481
{
	z-index: 177;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 91px;
}

#u8482
{
	z-index: 178;
	display: block;
}

#u8483-9
{
	z-index: 179;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: 91px;
}

#u8484-4
{
	z-index: 188;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 173px;
	left: 890px;
}

#u8485-4
{
	z-index: 192;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 242px;
	left: 91px;
}

#u8490
{
	z-index: 207;
	width: 44px;
	height: 44px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 882px;
	background: transparent url("../images/fb_bn.png?crc=494928276") no-repeat left top;
}

#u8490:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 44px;
	height: 44px;
	min-height: 0px;
	margin: 220px -10000px 0px 0px;
	background: transparent url("../images/fb_color.png?crc=439377252") no-repeat center center;
}

#u8491
{
	z-index: 208;
	width: 44px;
	height: 44px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: relative;
	margin-right: -10000px;
	margin-top: 218px;
	left: 939px;
	background: transparent url("../images/tw_bn.png?crc=412947426") no-repeat center center;
}

#u8491:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 44px;
	height: 44px;
	min-height: 0px;
	margin: 218px -10000px 0px 0px;
	background: transparent url("../images/tw_color.png?crc=4032554286") no-repeat center center;
}

#u8492
{
	z-index: 209;
	width: 44px;
	height: 44px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: relative;
	margin-right: -10000px;
	margin-top: 218px;
	left: 996px;
	background: transparent url("../images/in_bn.png?crc=3894412472") no-repeat center center;
}

#u8492:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 44px;
	height: 44px;
	min-height: 0px;
	margin: 218px -10000px 0px 0px;
	background: transparent url("../images/in_color.png?crc=454549069") no-repeat center center;
}

#u8493
{
	z-index: 210;
	width: 44px;
	height: 44px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: relative;
	margin-right: -10000px;
	margin-top: 219px;
	left: 1054px;
	background: transparent url("../images/lk_bn.png?crc=3785040988") no-repeat center center;
}

#u8493:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 44px;
	height: 44px;
	min-height: 0px;
	margin: 219px -10000px 0px 0px;
	background: transparent url("../images/ln_color.png?crc=4941093") no-repeat center center;
}

#u8494
{
	z-index: 211;
	width: 44px;
	height: 44px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: relative;
	margin-right: -10000px;
	margin-top: 219px;
	left: 1111px;
	background: transparent url("../images/yt_bn.png?crc=397240425") no-repeat center center;
}

#u8494:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 44px;
	height: 44px;
	min-height: 0px;
	margin: 219px -10000px 0px 0px;
	background: transparent url("../images/yt_color.png?crc=3904600323") no-repeat center center;
}

#pu8488-4
{
	z-index: 200;
	width: 0.01px;
	margin-left: -9px;
	margin-top: -5px;
}

#u8488-4
{
	z-index: 200;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u8487
{
	z-index: 198;
	height: 25px;
	width: 247px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 752px;
	background: transparent url("../images/u8487.png?crc=4143472614") no-repeat 0px 0px;
}

#u8487:hover
{
	background: transparent url("../images/u8487-r.png?crc=151542321") no-repeat 0px 0px;
}

#u8489
{
	z-index: 205;
	width: 170px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 1031px;
}

#u8489_states
{
	float: left;
	width: 170px;
	height: 25px;
	background: transparent url("../images/u8489_states.png?crc=4113955624") no-repeat 0px 0px;
}

#u8489:hover #u8489_states
{
	background: transparent url("../images/u8489_states-r.png?crc=4188056672") no-repeat 0px 0px;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 2525px);
}

#u8486
{
	z-index: 196;
	height: 70px;
	background-color: #7F7F7F;
}

#u8486-bw
{
	z-index: 196;
	margin-top: -47px;
	margin-bottom: -47px;
	height: 70px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1200px;
}

