.version.index /* version checker */
{
	color: #000000;
	background-color: #D3FC53;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 3128px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu265
{
	z-index: 2;
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -2px;
	margin-left: -100px;
}

#u265
{
	z-index: 2;
	height: 3130px;
	background-color: #95D600;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u265-bw
{
	z-index: 2;
	height: 3130px;
}

#u400-4
{
	z-index: 7;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 244px;
	left: 48px;
}

#u401-4
{
	z-index: 11;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 532px;
	left: 48px;
}

#u2112-4
{
	z-index: 15;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 921px;
	left: 48px;
}

#u402-4
{
	z-index: 19;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1179px;
	left: 280px;
}

#u1243-4
{
	z-index: 23;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1466px;
	left: 48px;
}

#u404-4
{
	z-index: 27;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1785px;
	left: 48px;
}

#u1194
{
	z-index: 31;
	width: 600px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 2379px;
	left: 19px;
}

#u1195
{
	z-index: 32;
	display: block;
}

.js #u401-4.ose_pre_init,.js #u2112-4.ose_pre_init,.js #u402-4.ose_pre_init,.js #u1243-4.ose_pre_init,.js #u404-4.ose_pre_init,.js #u1194.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u1240-4
{
	z-index: 33;
	width: 203px;
	min-height: 27px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 2559px;
	left: 416px;
}

#u1401
{
	z-index: 37;
	width: 146px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 679px;
	left: 1095px;
}

#u1339
{
	z-index: 38;
	width: 146px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1333-4
{
	z-index: 39;
	width: 146px;
	min-height: 27px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#pu268
{
	z-index: 3;
	width: 0.01px;
	padding-bottom: 3130px;
	margin-right: -10000px;
	margin-top: -2px;
}

#u268
{
	z-index: 3;
	width: 65px;
	height: 64px;
	box-shadow: 0px 0px 70px #FFFF00,0px 0px 70px #FFFF00;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFF00;
	border-radius: 100px;
	position: fixed;
	top: 226px;
	left: 1051px;
}

#u269
{
	z-index: 4;
	height: 3130px;
	border-width: 0px;
	border-color: transparent;
	background-color: #0033A0;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: fixed;
	top: -2px;
}

.js #u1240-4.ose_pre_init,.js #u1333-4.ose_pre_init,.js #u269.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u269-bw
{
	z-index: 4;
}

#u270
{
	z-index: 5;
	width: 125px;
	background-color: transparent;
	position: fixed;
	top: 198px;
	left: 1021px;
}

#u270_img
{
	padding-right: 1px;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 3128px);
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1200px;
}


